html {
  font-family: 'Poiret One', cursive;
  color: #000;
  background: #FEEAE8;
  height: 100%;
}
html, * {
  box-sizing: border-box;
}
body {
  height: 100%;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEEAE8;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s 2s;
  display: none;
}
.preloader.loaded {
  opacity: 0;
  pointer-events: none;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__decor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;
    background: url("../img/login-decor-top.png") no-repeat top right/55%, url("../img/login-decor-bottom.png") no-repeat bottom left/ 75%;
  }

  &__content {
    position: relative;
    z-index: 2;
  }
}
.login {
  width: 716px;
  padding: 34px 84px 43px;
  background-color: #fff;
  &__logo {
    max-width: 208px;
  }
  &__title {
    font-size: 35px;
    line-height: 41px;
    max-width: 240px;
    font-weight: 400;
    margin: auto auto 20px;
    text-align: center;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__block {
    text-align: center;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
  &__input {
    padding: 7px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: 1px solid #000000;
    margin-top: 11px;
    min-width: 250px;

    &::placeholder {
      color: #867B7B;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
  &__btn {
    padding: 0 5px;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: .3s;
    margin-top: 10px;

    &:hover {
      border-bottom-color: #000;
    }
  }
}