@function vw($px-vw, $base-vw: 1728) {
  @return ($px-vw * 100vw) / $base-vw;
}

html {
  font-family: 'Poiret One', cursive;
  color: #000;
  background: #fff;
  height: 100%;
  font-size: vw(10);
}
html, * {
  box-sizing: border-box;
}
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #EEEAEA;
  opacity: .3;
}

::-webkit-scrollbar-thumb {
  background: #D9D2D2;
}

.page {
  height: 100%;
  &--new-recept {
    display: flex;
  }
}
.new-recept {
  display: flex;
  align-items: center;
  margin-right: 30px;
  &__sidebar {
    background: url('../img/sidebar-top.png') no-repeat -40px top / 42.2rem 84.4rem,
    url('../img/sidebar-bottom.png') no-repeat -100px bottom / 600px auto;
    padding: 57px 50px 86px 140px;
    width: 520px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__table {
    overflow: auto;
    height: calc(100% - 7rem);
    border-top: .1rem solid #D2CBCB;
    border-bottom: .1rem solid #D2CBCB;
  }
  &__input {
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #A49C9C;
    width: 296px;
    outline: none;
    padding: 2px 5px;
    font-size: 25px;
    line-height: 35px;
    min-height: 40px;


    &--name {
      font-size: 25px;
      line-height: 35px;
      border: none;
      outline: none;
      color: #000;
      margin-bottom: 34px;
      margin-top: 0;

      &::placeholder {
        color: #A49C9C;
      }
    }
  }
  &__photo {
    margin-bottom: 60px;
  }
  &__btn {
    border-radius: 25px;
    padding: 8px 10px 16px;
    min-width: 214px;
    font-size: 25px;
    line-height: 25px;
    color: #000;
    transition: .3s;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;

    &--save {
      background: #BBEAD1;
      margin-bottom: 22px;

      &:hover {
        background: #68efa9;
      }
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    line-height: 35px;
  }
  &__links {
    margin-top: 25px;
    list-style: none;
    padding-left: 0;
  }
  &__textarea {
    background: #FEEAE8;
    border: 1px solid #A49C9C;
    color: #A00202;
    resize: none;
    width: 296px;
    min-height: 70px;
    text-align: center;
    padding: 10px 23px;
    font-size: 15px;
    line-height: 18px;
    margin-top: 20px;
    display: none;
    outline: none;

    &--show {
      display: block;
    }
  }
}
.btn-delete {
  display: flex;
  margin: auto;
  background: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: opacity .3s;
  font-weight: inherit;
  color: inherit;

  &:hover {
    opacity: .6;
  }
}
.drop-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  width: 296px;
  height: 189px;
  background: #F5F5F5;
  transition: .3s;

  &:hover {
    background: #e0e0e0;
  }

  &--over {
    background: rgba(213, 217, 254, 0.8);
  }
  &__input {
    display: none;
  }
  &__thumb {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;

    &::after {
      content: attr(data-label);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.75);
      font-size: 14px;
      text-align: center;
    }
  }
}
.new-recept-link {
  &__label {
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }

    &--plus {
      &::before {
        position: absolute;
        content: '+';
        top: 65%;
        left: -17px;
        transform: translateY(-50%);
      }
    }
  }
}
.new-recept-table {
  &__row {
    color: #000;
    font-weight: 600;
    &--empty {
      color: #A49C9C;

      button {
        pointer-events: none;
      }
    }

    &:hover {
      background-color: #fff7f7;
    }
  }
  &__row {
    display: grid;
    grid-template-columns: .7fr 1fr 2.3fr .7fr .7fr .7fr .7fr;
  }
  &__col {
    border: .1rem solid #D2CBCB;
    border-top: none;
    display: flex;
    align-items: center;
    padding: 3rem;
    font-size: 17px;
    line-height: 18px;

    &--2 {
      padding: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.new-component {
  background: #D5D9FE;
  height: 336px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 85px 50px 65px ;

  &__title {
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin: 0 0 5px;
    font-weight: 400;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    line-height: 18px;
  }

  &__input {
    width: 298px;
    height: 39px;
    left: 572px;
    top: 385px;
    background: #FFFFFF;
    border: none;
    outline: none;
    margin-top: 5px;
    padding: 8px;
  }

  &__row {
    margin-top: 10px;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s;

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }

  &--photo {
    .new-component {
      display: none;
    }
  }
  &--form {
    img {
      display: none;
    }
  }

  &__container {
    max-width: 728.11px;
    max-height: 563.63px;
    position: relative;
  }
  &__close {
    font-size: 3.5rem;
    position: absolute;
    right: 0%;
    top: 0;
    padding: 2.5rem;
    background: transparent;
    color: #867B7B;
    text-shadow: .1rem .1rem #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: #0B1AA5;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}