@function vw($px-vw, $base-vw: 1728) {
  @return ($px-vw * 100vw) / $base-vw;
}
a.btn-back {
  position: absolute;
  left: 20px;
  top: 20px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

html {
  font-family: 'Poiret One', cursive;
  color: #000;
  background: #fff;
  height: 100%;
  font-size: vw(10);
}
html, * {
  box-sizing: border-box;
}
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #EEEAEA;
  opacity: .3;
}

::-webkit-scrollbar-thumb {
  background: #D9D2D2;
}

.page {
  height: 100%;
  &__container {
    height: 100%;
    width: 100%;
  }
  &--storage-2 {
    display: flex;
    align-items: flex-start;
  }
}
.storage-creating {
  display: flex;
  width: 100%;
  height: 100%;

  &__col {
    width: 50%;
    text-align: center;
    padding: 32px 20px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--red {
      background: #FFFCFC;
    }
    &--yellow  {
      background: #FEFFFA;
      border-left: 1px solid #D2CBCB;
    }
  }

  &__title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  &__table {
    overflow: auto;
    max-height: 75vh;
    border-top: .1rem solid #D2CBCB;
    border-bottom: .1rem solid #D2CBCB;
  }

  &__btn {
    margin-top: auto;
    border-radius: 25px;
    padding: 8px 10px 16px;
    min-width: 214px;
    font-size: 25px;
    line-height: 25px;
    color: #000;
    transition: .3s;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;

    &--save {
      background: #BBEAD1;

      &:hover {
        background: #68efa9;
      }
    }
  }
}
.btn-delete {
  display: flex;
  margin: auto;
  background: transparent;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;

  &:hover {
    opacity: .6;
  }
}
.storage-creating-table {
  &__row {
    display: grid;
    grid-template-columns: .7fr 1fr 2fr .7fr .7fr .5fr;
  }
  &__col {
    border: .1rem solid #D2CBCB;
    border-top: none;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    line-height: 18px;

    &--2 {
      padding: 0;
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s;

  &--is-active {
    opacity: 1;
    pointer-events: all;
  }

  &__container {
    width: 728.11px;
    height: 563.63px;
    position: relative;
  }
  &__close {
    font-size: 5rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    padding: 2.5rem;
    background: transparent;
    color: #867B7B;
    text-shadow: .1rem .1rem #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
    &:hover {
      color: #0B1AA5;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}